<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1.0/policyconfig.dtd">
<policyconfig>
  <vendor>Kubuntu</vendor>
  <vendor_url>http://www.kubuntu.org</vendor_url>

  <action id="org.kubuntu.qaptworker.updateCache">
    <description>Update software sources</description>
    <message>Update software sources</message>
    <defaults>
      <allow_inactive>no</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
  </action>
  <action id="org.kubuntu.qaptworker.commitChanges">
    <description>Install or remove packages</description>
    <message>Install or remove packages</message>
    <defaults>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
  </action>
  <action id="org.kubuntu.qaptworker.writeFileToDisk">
    <description>Change system settings</description>
    <message>Change system settings</message>
    <defaults>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
  </action>

</policyconfig>
