[Desktop Entry]
Name=QApt Package Installer
Name[ar]=مثبّت الحزم كيو-آبت
Name[ast]=Instalador QApt de paquetes
Name[bs]=QApt instaler paketa
Name[ca]=Instal·lador de paquets QApt
Name[ca@valencia]=Instal·lador de paquets QApt
Name[cs]=Instalátor balíčků QApt
Name[da]=QApt pakkeinstallationsprogram
Name[de]=QApt-Pakeinstallationsprogramm
Name[el]=QApt Package Installer
Name[en_GB]=QApt Package Installer
Name[es]=Instalador de paquetes QApt
Name[et]=QApti pakettide paigaldaja
Name[fi]=QApt – pakettien asennusohjelma
Name[fr]=Programme d'installation de paquets « QApt »
Name[gl]=Instalador de paquetes QApt
Name[hu]=QApt csomagtelepítő
Name[id]=Pemasang Paket QApt
Name[it]=Installatore di pacchetti QApt
Name[kk]=QApt дестесін орнатқышы
Name[ko]=QApt 패키지 설치기
Name[lt]=QApt paketų diegimo programa
Name[mr]=क्यू-एप्ट पॅकेज प्रतिष्ठापक
Name[nb]=QApt Pakkeinstallerer
Name[nds]=Paket-Installeerprogramm QApt
Name[nl]=Installatieprogramma voor QApt-pakket
Name[pa]=QApt ਪੈਕੇਜ ਇੰਸਟਾਲਰ
Name[pl]=Instalator pakietów QApt
Name[pt]=Instalador de Pacotes QApt
Name[pt_BR]=Instalador de pacotes QApt
Name[ro]=Instalator de pachete QApt
Name[ru]=Программа QApt для установки пакетов
Name[sk]=QApt Inštalátor balíkov
Name[sl]=Namestilnik paketov QApt
Name[sr]=Ку‑апт
Name[sr@ijekavian]=Ку‑апт
Name[sr@ijekavianlatin]=QApt
Name[sr@latin]=QApt
Name[sv]=Qapt-paketinstallation
Name[tr]=QApt Paket Yükleyici
Name[ug]=QApt بوغچا ئورناتقۇچ
Name[uk]=Програма для встановлення пакунків QApt
Name[x-test]=xxQApt Package Installerxx
Name[zh_CN]=QApt 软件包安装器
Name[zh_TW]=QApt 套件安裝程式
GenericName=Package Installer
GenericName[ar]=مثبّت حزم
GenericName[ast]=Instalador de paquetes
GenericName[bs]=Instaler paketa
GenericName[ca]=Instal·lador de paquets
GenericName[ca@valencia]=Instal·lador de paquets
GenericName[cs]=Instalátor balíčků
GenericName[da]=Pakkeinstallationsprogram
GenericName[de]=Pakeinstallationsprogramm
GenericName[el]=Πρόγραμμα εγκατάστασης πακέτων
GenericName[en_GB]=Package Installer
GenericName[es]=Instalador de paquetes
GenericName[et]=Pakettide paigaldaja
GenericName[fi]=Pakettien asennusohjelma
GenericName[fr]=Programme d'installation de paquets
GenericName[gl]=Instalador de paquetes
GenericName[hu]=Csomagtelepítő
GenericName[id]=Pemasang Paket
GenericName[it]=Installatore di pacchetti
GenericName[kk]=Десте орнатқышы
GenericName[ko]=패키지 설치기
GenericName[lt]=Paketų diegimo programa
GenericName[mr]=पॅकेज प्रतिष्ठापक
GenericName[nb]=Pakkeinstallerer
GenericName[nds]=Paket-Installeerprogramm
GenericName[nl]=Installatieprogramma voor pakket
GenericName[pa]=ਪੈਕੇਜ ਇੰਸਟਾਲਰ
GenericName[pl]=Instalator pakietów
GenericName[pt]=Instalador de Pacotes
GenericName[pt_BR]=Instalador de pacotes
GenericName[ro]=Instalator de pachete
GenericName[ru]=Установка пакетов
GenericName[sk]=Inštalátor balíkov
GenericName[sl]=Namestilnik paketov
GenericName[sr]=Инсталатер пакета
GenericName[sr@ijekavian]=Инсталатер пакета
GenericName[sr@ijekavianlatin]=Instalater paketa
GenericName[sr@latin]=Instalater paketa
GenericName[sv]=Paketinstallation
GenericName[tr]=Paket Yükleyici
GenericName[ug]=بوغچا ئورناتقۇچ
GenericName[uk]=Встановлення пакунків
GenericName[x-test]=xxPackage Installerxx
GenericName[zh_CN]=软件包安装器
GenericName[zh_TW]=套件安裝程式
Comment=Install and view software packages
Comment[ar]=ثبّت حزم البرمجيّات واعرضها
Comment[ast]=Instala y mira paquetes de software
Comment[bs]=Instalacija i pregled softverskih paketa
Comment[ca]=Instal·la i mostra paquets de programari
Comment[ca@valencia]=Instal·la i mostra paquets de programari
Comment[cs]=Instalovat a prohlížet balíčky softwaru
Comment[da]=Installér og vis softwarepakker
Comment[de]=Software-Pakete installieren und betrachten
Comment[el]=Εγκατάσταση και επισκόπηση πακέτων λογισμικού
Comment[en_GB]=Install and view software packages
Comment[es]=Instalar y ver paquetes de software
Comment[et]=Tarkvarapakettide paigaldamine ja näitamine
Comment[fi]=Asenna ja katsele ohjelmistopaketteja
Comment[fr]=Installe et affiche des paquets de logiciels
Comment[gl]=Instalar e ver os paquetes de software
Comment[hu]=Szoftvercsomagok megtekintése és telepítése
Comment[id]=Pasang dan melihat paket-paket perangkat lunak
Comment[it]=Installa e visualizza pacchetti software
Comment[kk]=Бағдарлама дестелерін орнату мен көру
Comment[ko]=소프트웨어 패키지 설치 및 보기
Comment[lt]=Diegti ir peržiūrėti programinės įrangos paketus
Comment[mr]=सॉफ़्टवेअर पॅकेजेस प्रतिष्ठापीत व प्रदर्शित करा
Comment[nb]=Installer og vis programvarepakker
Comment[nds]=Programmpaketen installeren un ankieken
Comment[nl]=Installeer en toon softwarepakketten
Comment[pa]=ਸਾਫਟਵੇਅਰ ਪੈਕੇਜ ਇੰਸਟਾਲ ਕਰੋ ਅਤੇ ਵੇਖੋ
Comment[pl]=Instaluj i oglądaj pakiety oprogramowania
Comment[pt]=Instalar e ver os pacotes das aplicações
Comment[pt_BR]=Instalar e exibir os pacotes dos aplicativos
Comment[ro]=Instalează și vizualizează pachete software
Comment[ru]=Установка и просмотр пакетов программ
Comment[sk]=Inštalovať a zobraziť softwareové balíky
Comment[sl]=Namestitev in ogled paketov programske opreme
Comment[sr]=Инсталирање и прегледање софтверских пакета
Comment[sr@ijekavian]=Инсталирање и прегледање софтверских пакета
Comment[sr@ijekavianlatin]=Instaliranje i pregledanje softverskih paketa
Comment[sr@latin]=Instaliranje i pregledanje softverskih paketa
Comment[sv]=Installera och visa programvarupaket
Comment[tr]=Yazılım paketlerini kurun ve görüntüleyin
Comment[ug]=بوغچىنى ئورنىتىش ۋە كۆرۈش
Comment[uk]=Встановлення і перегляд пакунків програмного забезпечення
Comment[x-test]=xxInstall and view software packagesxx
Comment[zh_CN]=安装并查看软件包
Comment[zh_TW]=安裝並檢視軟體套件
Exec=qapt-deb-installer
Icon=applications-other
Terminal=false
Type=Application
Categories=System;
MimeType=application/x-deb;application/x-debian-package;
OnlyShowIn=KDE;
NoDisplay=true
InitialPreference=13
