[Desktop Entry]
Name=QApt Package Installer
Name[bs]=QApt instaler paketa
Name[ca]=Instal·lador de paquets QApt
Name[cs]=Instalátor balíčků QApt
Name[da]=QApt pakkeinstallationsprogram
Name[de]=QApt-Pakeinstallationsprogramm
Name[el]=QApt Package Installer
Name[es]=Instalador de paquetes QApt
Name[et]=QApti pakettide paigaldaja
Name[fr]=Programme d'installation de paquetages QApt
Name[hu]=QApt csomagtelepítő
Name[nb]=QApt Pakkeinstallerer
Name[nds]=Paket-Installeerprogramm QApt
Name[nl]=Installatieprogramma voor QApt-pakket
Name[pl]=Instalator pakietów QApt
Name[pt]=Instalador de Pacotes QApt
Name[pt_BR]=Instalador de pacotes QApt
Name[ru]=Программа установки пакетов QApt
Name[sk]=QApt Inštalátor balíkov
Name[sr]=Ку‑апт
Name[sr@ijekavian]=Ку‑апт
Name[sr@ijekavianlatin]=QApt
Name[sr@latin]=QApt
Name[sv]=Qapt-paketinstallation
Name[ug]=QApt بوغچا ئورناتقۇچ
Name[uk]=Програма для встановлення пакунків QApt
Name[x-test]=xxQApt Package Installerxx
Name[zh_TW]=QApt 套件安裝程式
GenericName=Package Installer
GenericName[bs]=Instaler paketa
GenericName[ca]=Instal·lador de paquets
GenericName[cs]=Instalátor balíčků
GenericName[da]=Pakkeinstallationsprogram
GenericName[de]=Pakeinstallationsprogramm
GenericName[el]=Πρόγραμμα εγκατάστασης πακέτων
GenericName[es]=Instalador de paquetes
GenericName[et]=Pakettide paigaldaja
GenericName[fr]=Programme d'installation de paquetages
GenericName[hu]=Csomagtelepítő
GenericName[nb]=Pakkeinstallerer
GenericName[nds]=Paket-Installeerprogramm
GenericName[nl]=Installatieprogramma voor pakket
GenericName[pl]=Instalator pakietów
GenericName[pt]=Instalador de Pacotes
GenericName[pt_BR]=Instalador de pacotes
GenericName[ru]=Программа установки пакетов
GenericName[sk]=Inštalátor balíkov
GenericName[sr]=Инсталатер пакета
GenericName[sr@ijekavian]=Инсталатер пакета
GenericName[sr@ijekavianlatin]=Instalater paketa
GenericName[sr@latin]=Instalater paketa
GenericName[sv]=Paketinstallation
GenericName[ug]=بوغچا ئورناتقۇچ
GenericName[uk]=Встановлення пакунків
GenericName[x-test]=xxPackage Installerxx
GenericName[zh_TW]=套件安裝程式
Comment=Install and view software packages
Comment[bs]=Instalacija i pregled softverskih paketa
Comment[ca]=Instal·la i mostra paquets de programari
Comment[cs]=Instalovat a prohlížet balíčky softwaru
Comment[da]=Installér og vis softwarepakker
Comment[de]=Software-Pakete installieren und betrachten
Comment[el]=Εγκατάσταση και επισκόπηση πακέτων λογισμικού
Comment[es]=Instalar y ver paquetes de software
Comment[et]=Tarkvarapakettide paigaldamine ja näitamine
Comment[fr]=Installe et affiche des paquetages logiciels
Comment[hu]=Szoftvercsomagok megtekintése és telepítése
Comment[nb]=Installer og vis programvarepakker
Comment[nds]=Programmpaketen installeren un ankieken
Comment[nl]=Installeer en toon softwarepakketten
Comment[pl]=Instaluj i oglądaj pakiety oprogramowania
Comment[pt]=Instalar e ver os pacotes das aplicações
Comment[pt_BR]=Instalar e exibir os pacotes dos aplicativos
Comment[ru]=Установка и просмотр пакетов программного обеспечения
Comment[sk]=Inštalovať a zobraziť softwareové balíky
Comment[sr]=Инсталирање и прегледање софтверских пакета
Comment[sr@ijekavian]=Инсталирање и прегледање софтверских пакета
Comment[sr@ijekavianlatin]=Instaliranje i pregledanje softverskih paketa
Comment[sr@latin]=Instaliranje i pregledanje softverskih paketa
Comment[sv]=Installera och visa programvarupaket
Comment[ug]=بوغچىنى ئورنىتىش ۋە كۆرۈش
Comment[uk]=Встановлення і перегляд пакунків програмного забезпечення
Comment[x-test]=xxInstall and view software packagesxx
Comment[zh_TW]=安裝並檢視軟體套件
Exec=qapt-deb-installer
Icon=applications-other
Terminal=false
Type=Application
Categories=Application;System;
MimeType=application/x-deb;application/x-debian-package;
OnlyShowIn=KDE;
NotShowIn=GNOME;
NoDisplay=true
InitialPreference=13
