[Desktop Entry]
Name=Installer
Name[bs]=Instaler
Name[ca]=Instal·lador
Name[cs]=Instalátor
Name[da]=Installationsprogram
Name[de]=Installationsprogramm
Name[el]=Installer
Name[en_GB]=Installer
Name[es]=Instalador
Name[et]=Paigaldaja
Name[fr]=Programme d'installation
Name[ga]=Suiteálaí
Name[hu]=Telepítő
Name[nb]=Installerer
Name[nds]=Installeerprogramm
Name[nl]=Installatieprogramma
Name[pl]=Instalator
Name[pt]=Instalador
Name[pt_BR]=Instalador
Name[ru]=Установщик
Name[sk]=Inštalátor
Name[sr]=Инсталатер
Name[sr@ijekavian]=Инсталатер
Name[sr@ijekavianlatin]=Instalater
Name[sr@latin]=Instalater
Name[sv]=Installation
Name[ug]=ئورناتقۇچ
Name[uk]=Встановлювач
Name[x-test]=xxInstallerxx
Name[zh_TW]=安裝程式
Comment=Suggests the installation of not-installed applications
Comment[bs]=Predlaže instalaciju neinstaliranih paketa
Comment[ca]=Suggereix la instal·lació d'aplicacions no instal·lades
Comment[cs]=Navrhuje instalaci nenainstalovaných aplikací
Comment[da]=Foreslår installation af ikke-installerede programmer
Comment[de]=Schlägt die Installation von Anwendungen vor, die nicht installiert sind
Comment[el]=Προτείνει την εγκατάσταση μη-εγκατεστημένων εφαρμογών
Comment[en_GB]=Suggests the installation of not-installed applications
Comment[es]=Sugiere la instalación de aplicaciones no instaladas
Comment[et]=Paigaldamata rakenduse paigaldamise pakkumine
Comment[fr]=Suggère l'installation d'applications non installées
Comment[hu]=Nem telepített alkalmazások telepítésének ajánlása
Comment[nb]=Foreslår installering av ikke installerte programmer
Comment[nds]=Raadt dat Installeren vun nich installeert Programmen an
Comment[nl]=Suggereert de installatie van niet geïnstalleerde programma's
Comment[pl]=Sugeruje instalację niezainstalowanych programów
Comment[pt]=Sugere a instalação de aplicações não instaladas
Comment[pt_BR]=Sugere a instalação de aplicativos não instalados
Comment[ru]=Предлагает установить приложения
Comment[sk]=Doporučí inštaláciu nenainštalovaných aplikácií
Comment[sr]=Предлаже инсталирање неинсталираних програма
Comment[sr@ijekavian]=Предлаже инсталирање неинсталираних програма
Comment[sr@ijekavianlatin]=Predlaže instaliranje neinstaliranih programa
Comment[sr@latin]=Predlaže instaliranje neinstaliranih programa
Comment[sv]=Föreslå installation av program som inte är installerade
Comment[ug]=ئورنىتىلمىغان قوللىنىشچان پروگراممىلارنى ئورنىتىشنى تەۋسىيە قىلىدۇ
Comment[uk]=Пропонує встановити програми, потрібні для виконання певних завдань
Comment[x-test]=xxSuggests the installation of not-installed applicationsxx
Comment[zh_TW]=建議安裝應用程式
X-KDE-ServiceTypes=Plasma/Runner
Type=Service
Icon=applications-other
X-KDE-Library=krunner_installer
X-Plasma-RunnerPhase=first
X-KDE-PluginInfo-Author=Jonathan Thomas
X-KDE-PluginInfo-Email=echidnaman@kubuntu.org
X-KDE-PluginInfo-Name=installer
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true
