[Desktop Entry]
Name=Installer
Name[ar]=المثبّت
Name[ast]=Instalador
Name[bs]=Instaler
Name[ca]=Instal·lador
Name[ca@valencia]=Instal·lador
Name[cs]=Instalátor
Name[da]=Installationsprogram
Name[de]=Installationsprogramm
Name[el]=Installer
Name[en_GB]=Installer
Name[es]=Instalador
Name[et]=Paigaldaja
Name[fi]=Asennusohjelma
Name[fr]=Programme d'installation
Name[ga]=Suiteálaí
Name[gl]=Instalador
Name[hu]=Telepítő
Name[id]=Pemasang
Name[it]=Installatore
Name[kk]=Орнатқыш
Name[ko]=설치기
Name[lt]=Diegimo programa
Name[mr]=प्रतिष्ठापक
Name[nb]=Installerer
Name[nds]=Installeerprogramm
Name[nl]=Installatieprogramma
Name[pa]=ਇੰਸਟਾਲਰ
Name[pl]=Instalator
Name[pt]=Instalador
Name[pt_BR]=Instalador
Name[ro]=Instalator
Name[ru]=Установка приложений
Name[sk]=Inštalátor
Name[sl]=Namestilnik
Name[sr]=Инсталатер
Name[sr@ijekavian]=Инсталатер
Name[sr@ijekavianlatin]=Instalater
Name[sr@latin]=Instalater
Name[sv]=Installation
Name[tr]=Yükleyici
Name[ug]=ئورناتقۇچ
Name[uk]=Встановлювач
Name[x-test]=xxInstallerxx
Name[zh_CN]=安装器
Name[zh_TW]=安裝程式
Comment=Suggests the installation of not-installed applications
Comment[ar]=يقترح تثبيت تطبيقات غير مثبّتة
Comment[ast]=Suxer la instalación d'aplicaciones non instalaes
Comment[bs]=Predlaže instalaciju neinstaliranih paketa
Comment[ca]=Suggereix la instal·lació d'aplicacions no instal·lades
Comment[ca@valencia]=Suggereix la instal·lació d'aplicacions no instal·lades
Comment[cs]=Navrhuje instalaci nenainstalovaných aplikací
Comment[da]=Foreslår installation af ikke-installerede programmer
Comment[de]=Schlägt die Installation von Anwendungen vor, die nicht installiert sind
Comment[el]=Προτείνει την εγκατάσταση μη-εγκατεστημένων εφαρμογών
Comment[en_GB]=Suggests the installation of not-installed applications
Comment[es]=Sugiere la instalación de aplicaciones no instaladas
Comment[et]=Paigaldamata rakenduse paigaldamise pakkumine
Comment[fi]=Ehdottaa uusien sovellusten asentamista
Comment[fr]=Suggère l'installation d'applications non installées
Comment[gl]=Suxire a instalación de aplicacións non instaladas
Comment[hu]=Nem telepített alkalmazások telepítésének ajánlása
Comment[id]=Menyarankan penginstalan aplikasi yang tidak terinstal
Comment[it]=Suggerisce l'installazione di applicazioni non installate
Comment[kk]=Орнатылмаған қолданбаларды орнатуды ұсынады
Comment[ko]=설치되지 않은 프로그램의 설치 제안
Comment[lt]=Pasiūlo neįdiegtų programų įdiegimą
Comment[mr]=प्रतिष्ठापीत नसलेल्या अनुप्रयोगांची प्रतिष्ठापना सुचवितो
Comment[nb]=Foreslår installering av ikke installerte programmer
Comment[nds]=Raadt dat Installeren vun nich installeert Programmen an
Comment[nl]=Suggereert de installatie van niet geïnstalleerde programma's
Comment[pl]=Sugeruje instalację niezainstalowanych programów
Comment[pt]=Sugere a instalação de aplicações não instaladas
Comment[pt_BR]=Sugere a instalação de aplicativos não instalados
Comment[ro]=Sugerează instalarea unor aplicații neinstalate
Comment[ru]=Предлагает установить приложения
Comment[sk]=Doporučí inštaláciu nenainštalovaných aplikácií
Comment[sl]=Predlaga namestitev še ne nameščenih paketov
Comment[sr]=Предлаже инсталирање неинсталираних програма
Comment[sr@ijekavian]=Предлаже инсталирање неинсталираних програма
Comment[sr@ijekavianlatin]=Predlaže instaliranje neinstaliranih programa
Comment[sr@latin]=Predlaže instaliranje neinstaliranih programa
Comment[sv]=Föreslå installation av program som inte är installerade
Comment[tr]=Kurulu olmayan uygulamaları kurmanızı önerir
Comment[ug]=ئورنىتىلمىغان قوللىنىشچان پروگراممىلارنى ئورنىتىشنى تەۋسىيە قىلىدۇ
Comment[uk]=Пропонує встановити програми, потрібні для виконання певних завдань
Comment[x-test]=xxSuggests the installation of not-installed applicationsxx
Comment[zh_CN]=未安装应用程序的安装建议
Comment[zh_TW]=建議安裝應用程式
X-KDE-ServiceTypes=Plasma/Runner
Type=Service
Icon=applications-other
X-KDE-Library=krunner_installer
X-Plasma-RunnerPhase=first
X-KDE-PluginInfo-Author=Jonathan Thomas
X-KDE-PluginInfo-Email=echidnaman@kubuntu.org
X-KDE-PluginInfo-Name=installer
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true
