[Desktop Entry]
Type=Service
Name=Debian Package Files
Name[ar]=ملفّات حزم دبيانيّة
Name[bs]=Debian paketne datoteke
Name[ca]=Fitxers de paquets Debian
Name[ca@valencia]=Fitxers de paquets Debian
Name[cs]=Soubory balíčků pro Debian
Name[da]=Debian-pakkefiler
Name[de]=Debian-Paketdateien
Name[el]=Αρχεία πακέτων Debian
Name[en_GB]=Debian Package Files
Name[es]=Archivos de paquete Debian
Name[et]=Debiani paketifailid
Name[fi]=Debian-pakettitiedostot
Name[fr]=Fichiers de paquets Debian
Name[gl]=Ficheiros de paquetes de Debian
Name[hu]=Debian csomagfájlok
Name[id]=File Paket Debian
Name[it]=File dei pacchetti di Debian
Name[kk]=Debian десте файлдары
Name[ko]=데비안 패키지 파일
Name[lt]=Debian paketų failai
Name[mr]=डेबियन पॅकेज फाईल्स
Name[nb]=Debian pakkefiler
Name[nds]=Debian-Paketdateien
Name[nl]=Debian-pakketbestanden
Name[pa]=ਡੇਬੀਅਨ ਪੈਕੇਜ ਫਾਇਲਾਂ
Name[pl]=Pliki pakietów dla Debiana
Name[pt]=Ficheiros de Pacotes da Debian
Name[pt_BR]=Arquivos de pacotes do Debian
Name[ro]=Fișiere de pachet Debian
Name[ru]=Пакеты Debian
Name[sk]=Súbory balíkov Debianu
Name[sl]=Datoteke s paketi za Debian
Name[sr]=Фајлови Дебијанових пакета
Name[sr@ijekavian]=Фајлови Дебијанових пакета
Name[sr@ijekavianlatin]=Fajlovi Debianovih paketa
Name[sr@latin]=Fajlovi Debianovih paketa
Name[sv]=Debian-paketfiler
Name[tr]=Debian Paket Dosyaları
Name[ug]=Debian بوغچا ھۆججەتلىرى
Name[uk]=Файли пакунків Debian
Name[x-test]=xxDebian Package Filesxx
Name[zh_CN]=Debian 软件包文件
Name[zh_TW]=Debian 軟體包檔案
X-KDE-ServiceTypes=ThumbCreator
MimeType=application/x-deb;
X-KDE-Library=debthumbnailer
CacheThumbnail=true
IgnoreMaximumSize=true
